#container {
    display: flex;
    border: 1px solid blue;
    width: 960px;
    flex-wrap: wrap;

}

#container div {
    box-sizing:border-box;

}

#cellNumber {
    display: block;
    margin: auto;
}

body {
    display:flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}